{% extends "paginas/modelo.html" %}

{% load static %}

{% block conteudo %}
<h3>Lista de Clientes Cadastrados</h3>
<a href="{% url "cadastrar_cliente" %}" class="btn btn-primary btn-sm float-rught position-relative">Cadastrar Cliente</a>

<hr>

<div class="table table-responsive">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Endereço</th>
        <th>Opções</th>
    </tr>

    {% for cliente in object_list %}
    <tr>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.telefone }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.endereco }}</td>
        <td>
            <a href="{% url "editar_cliente" cliente.pk %}" class="btn btn-warning btn-sm" title="Editar">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="{% url "excluir_cliente" cliente.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum cliente cadastrado.</td>
    </tr>
    {% endfor %}

</div>
{% endblock conteudo %}